{% extends "base.html" %}

{% block content %}

<!-- IMAGE -->
<div class="jumbotron text-center features-background-img" style="padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand navbar-dark" style='padding-top: 0px; margin-top: 0px'>
        <a class="navbar-brand" href="/">XPLR.IO</a>
        <div class="navbar-nav text-right">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="/about">About<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/interested">Sign Me Up!</a>
        </div>
    </nav>

    <!-- FEATURES -->
    <div class="container" style="padding-top: 4vh; color: #EEEEEE">
        <div class="row">
            <div class="col-md-4">
                <div class="feature-wrapper">
                    <div class="card" style="background-color: transparent; border: None">
                        <div class="feature-heading">
                            <h1 style="padding-top: 15px"><span class="fas fa-map-pin"></span> Coordinates</h1>
                        </div>
                        <div class="feature-body" style="padding: 13px; color: #FFFFFF">
                            <p>XPLR.IO's algorithm <b>favors</b> posts that have <b>coordinates</b>, which encourages
                            content creators to include them, and enables <b>you</b> to go <b>experience</b> these amazing locations for yourself</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-wrapper">
                    <div class="card" style="background-color: transparent; border: None">
                        <div class="feature-heading">
                            <h1 style="padding-top: 15px"><span class="fas fa-comment-dots"></span> Location Insights</h1>
                        </div>
                        <div class="feature-body" style="padding: 13px; color: #FFFFFF"">
                            <p>Get unique insights into Locations; Detailed <b>descriptions</b>, <b>coordinates</b>, <b>difficulty levels</b> and
                            the <b>best times to go</b> are some of the fields content creatures are encouraged to provide along with their
                            pictures/videos</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-wrapper">
                    <div class="card" style="background-color: transparent; border: None">
                        <div class="feature-heading">
                            <h1 style="padding-top: 15px"><span class="fas fa-camera-retro"></span> Photo & Video</h1>
                        </div>
                        <div class="feature-body" style="padding: 13px; color: #FFFFFF"">
                            <p>The format of a post on XPLR.IO is more dense than a typical Social Media post,
                            but is more <b>informative</b> and <b>visually pleasing</b> by supporting higher quality photo and video uploads
                            than most competitors</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="feature-wrapper">
                    <div class="card" style="background-color: transparent; border: None">
                        <div class="feature-heading">
                            <h1 style="padding-top: 15px"><span class="fas fa-compass"></span> Adventures</h1>
                        </div>
                        <div class="feature-body" style="padding: 13px; color: #FFFFFF">
                            <p>Our team curates <b>weekly adventures</b> based on user's posts, inspiring even more people
                            to go out and explore. It is another way for content-creators to <b>reach and inspire</b> our
                            community of explorers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-wrapper">
                    <div class="card" style="background-color: transparent; border: None">
                        <div class="feature-heading">
                            <h1 style="padding-top: 15px"><span class="fas fa-check-double"></span> Editor's Choice</h1>
                        </div>
                        <div class="feature-body" style="padding: 13px; color: #FFFFFF"">
                            <p>Our team <b>hand-picks</b> top posts and includes them in the daily <b>Editor's Choice</b>
                            section of the platform. These posts are double checked for validity, so you can rely on
                            their coordinates, descriptions and difficuly levels</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-wrapper">
                    <div class="card" style="background-color: transparent; border: None">
                        <div class="feature-heading">
                            <h1 style="padding-top: 15px"><span class="fas fa-globe"></span> Global</h1>
                        </div>
                        <div class="feature-body" style="padding: 13px; color: #FFFFFF"">
                            <p>Our <b>community</b> is <b>Global</b>, meaning that our users can be anywhere in the world,
                            creating content from anywhere in the world. Yep, it's <b>that</b> simple.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- COMPANY STATEMENT -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="company-statement" style="padding-top: 15px">
                    <h5 style='color: #FFFFFF'>"XPLR.IO inspires explorers to share and experience unique locations around the world"</h5>
                </div>
            </div>
        </div>
    </div>


    <!-- CALL TO ACTION -->
    <div class="container" style="padding-top: 25px">
        <div class="row">
            <div class="col-md-3 offset-5">
                <div class="col-md-9 offset-1">
                    <div  style="text-align: center">
                        <form action="/interested" class='form-inline'>
                            <button type="submit" class="btn btn-dark mb-2" style="background-color: transparent; border-color: #FFFFFF">Sign me up!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- FOOTER -->
    <div style="position: absolute; left: 10px; bottom: 0px">
        <nav class="navbar navbar-expand navbar-dark">
            <div class="navbar-nav text-right">
                <a class="nav-item nav-link" href="index.html">Copyright xplr.io 2019 <span class="sr-only">(current)</span></a>
            </div>
        </nav>
    </div>
</div>

{% endblock %}
