{% extends "base.html" %}

{% block content %}

<!-- IMAGE -->
<div class="jumbotron text-center features-background-img" style="padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand navbar-dark" style='padding-top: 0px; margin-top: 0px'>
        <a class="navbar-brand" href="/">XPLR.IO</a>
        <div class="navbar-nav text-right">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="/about">About<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/interested">Sign Me Up!</a>
        </div>
    </nav>

    <!-- FEATURES -->
    <div class="container" style="padding-top: 10vh; color: #EEEEEE">
        <div class="row">
            <div class="col-md-4">
                <div class="feature-wrapper">
                    <div class="card" style="background-color: transparent; border: None">
                        <div class="feature-heading">
                            <h1 style="padding-top: 15px"><span class="fas fa-users"></span> Social Media</h1>
                        </div>
                        <div class="feature-body" style="padding: 13px; color: #FFFFFF"">
                            <p>XPLR.IO is a Social Media platform that lets users create content
                            about their travel experiances as well as browse/swipe/look-up posts to get
                            insigts about unique destinations.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-wrapper">
                    <div class="card" style="background-color: transparent; border: None">
                        <div class="feature-heading">
                            <h1 style="padding-top: 15px"><span class="fas fa-map-pin"></span> Coordinates</h1>
                        </div>
                        <div class="feature-body" style="padding: 13px; color: #FFFFFF">
                            <p>We urge users to share the coordinates of the locations that they post about
                            so that the people who view their content can not only get inspired, but actually
                            go to that location and experiance the beauty for themselves.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-wrapper">
                    <div class="card" style="background-color: transparent; border: None">
                        <div class="feature-heading">
                            <h1 style="padding-top: 15px"><span class="fas fa-search"></span> Search/Feed</h1>
                        </div>
                        <div class="feature-body" style="padding: 13px; color: #FFFFFF"">
                            <p>Our feed is swipe based on Mobile(think Tinder), and scroll based on Web.
                            We use Machine Learning to give you more of what you want to see, but also let
                            you filter and search for posts manually</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- COMPANY STATEMENT -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="company-statement" style="padding-top: 30px">
                    <h5 style='color: #FFFFFF'>"XPLR.IO inspires explorers to share and find unique locations around the world"</h5>
                </div>
            </div>
        </div>
    </div>


    <!-- CALL TO ACTION -->
    <div class="container" style="padding-top: 40px">
        <div class="row">
            <div class="col-md-3 offset-5">
                <div class="col-md-9 offset-1">
                    <div  style="text-align: center">
                        <form action="/interested" class='form-inline'>
                            <button type="submit" class="btn btn-dark mb-2" style="background-color: transparent; border-color: #FFFFFF">Sign me up!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- FOOTER -->
    <div style="position: absolute; left: 10px; bottom: 0px">
        <nav class="navbar navbar-expand navbar-dark">
            <div class="navbar-nav text-right">
                <a class="nav-item nav-link" href="index.html">Copyright xplr.io 2019 <span class="sr-only">(current)</span></a>
            </div>
        </nav>
    </div>
</div>

{% endblock %}
